# Visual Studio
**/[Oo]bj/
**/[Bb]in/
**/*.user
**/*.suo
.vs/
*.sln.docstates

# Build results
[Rr]elease/
[Dd]ebug/
x64/
x86/
[Aa][Rr][Mm]64/
[Ii][Tt][Aa][Nn][Ii][Aa]64/
[Ww][Ii][Nn]32/
[Aa][Nn][Yy][Cc][Pp][Uu]/
bld/

# Other
*.DS_Store
*.npm