<footer class="site-footer">
    <div class="container">
        <div class="footer-content">
            @* --- Group for Left-Aligned Links --- *@
            <div class="footer-links-group">
                <a href="/about">About Us</a>
                <a href="/contact">Contact Us</a>
            </div>

            @* --- Group for Right-Aligned Icons --- *@
            <div class="social-icons">
                <a href="https://wa.me/23790059197" target="_blank"><i class="fab fa-whatsapp"></i></a>
                <a href="https://www.instagram.com/maillotstorecm?igsh=MWRveGdudzZiMmN3dw%3D%3D&utm_source=qr" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.tiktok.com/maillotstore.cm?_r=1&_t=ZM-92zJpTLoOcO" target="_blank"><i class="fab fa-tiktok"></i></a>
                <a href="https://www.facebook.com/share/1CNhfJ9xaa/?mibextid=wwXIfr" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://snapchat.com/t/7TCZOspT" target="_blank"><i class="fab fa-snapchat-ghost"></i></a>
                <a href="https://x.com/maillotstorecm?s=21" target="_blank"><i class="fab fa-x-twitter"></i></a>

            </div>
        </div>
        <div class="footer-bottom">
            @* --- THIS IS THE CORRECTED LINE --- *@
            <p>&copy; @(DateTime.Now.Year) Maillot Store. All Rights Reserved.</p>
        </div>
    </div>
</footer>